body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.nav-name {
  color: grey;
  font-weight: bold;
}

.nav-name:hover {
  color: #a94ae8;
  text-decoration: none;
}

.center {
  align-self: center;
}

.profile-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}
