* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

.logo {
  width: 30px;
  height: 30px;
}

nav a {
  display: inline-block;
  margin-right: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* NAVBAR START */

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  background-color: #d264b6;
  animation-name: example;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  /* position: relative; */
}

.nav-name {
  color: #ffffff;
  font-weight: bold;
}

.nav-name:hover {
  color: rgb(173, 184, 30);
  text-decoration: none;
}
.profile-img.nav:hover {
  border: 2px solid rgb(173, 184, 30);
}

.right-navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.center {
  align-self: center;
}

.nav-name.userImg {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.chat-icon {
  width: 20px;
  height: 20px;
}

/* NAVBAR END */

/* MY PROFILE CSS START */

.main-profile {
  margin-top: 20px;
}

.profile-img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #fff;
}

.profile-photo {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.profile-email,
.profile-language {
  align-items: center;
}

.email-line,
.language-line {
  margin-left: 10px;
}

.btn-update {
  position: absolute;
  bottom: 0;
  left: 0;
}

.profile-info {
  margin-left: 15px;
}

/* MY PROFILE CSS END */

/* FRIENDS LIST */
.friends-list {
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.friends-img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #d264b6;
}

.new-requests-badge {
  margin-left: 10px;
}
/* FRIENDS LIST END */

/* NAVBAR COLOR ANIMATION */
@keyframes example {
  0% {
    background-color: #d264b6;
  }
  25% {
    background-color: #a480cf;
  }
  50% {
    background-color: #779be7;
  }
  75% {
    background-color: #49b6ff;
  }
  100% {
    background-color: #d264b6;
  }
}

/* RESPONSIVE FOR MY PROFILE */
@media only screen and (max-width: 990px) {
  .btn-update {
    margin-top: 15px;
    position: relative;
    bottom: 0;
    left: 0;
  }
  .profile-info {
    margin-top: 30px;
  }
  .img {
    display: none;
  }
}

/* Welcome page css */
.main-container {
  width: 100%;
  height: 93vh;
  position: relative;
}

.main-banner {
  width: 100%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  max-height: 70vh;
  overflow-y: auto;
}

.main-banner h1 {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 40px;
  animation-name: titleMove;
  animation-duration: 2s;
}

.main-banner p {
  font-size: 40px;
  margin-bottom: 40px;
}

.main-banner button {
  width: 100px;
  margin: 20px;
  border: 2px solid black;
  border-radius: 50px;
  outline: none;
}

.btn-left {
  animation-name: animateBtn;
  animation-duration: 1s;
  animation-delay: 1.5s;
  animation-fill-mode: backwards;
}

.btn-right {
  animation-name: animateBtn;
  animation-duration: 1s;
  animation-delay: 2.3s;
  animation-fill-mode: backwards;
}

@keyframes titleMove {
  0% {
    transform: translateX(120px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes animateBtn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* .main-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#app-title {
  width: max-content;
  text-align: center;
  margin: auto;
} */

#animate {
  /* display: flex; */
  /* justify-content: center; */
  color: blueviolet;
}

.text-change::before {
  content: 'We will melt away the ice of confusion.';
  animation: animate infinite 10s;
  padding-left: 10px;
}

/* .btn-login-signup {
  display: flex;

  justify-content: center;
} */

@keyframes animate {
  0% {
    content: 'We will melt away the ice of confusion.';
  }

  25% {
    content: 'Мы растопим лед замешательства.';
  }
  50% {
    content: 'Eliminar las barreras de comunicación.';
  }
  75% {
    content: '我們將消除交流障碍';
    opacity: 1;
  }
}
