.convo {
  padding-right: 15px;
  padding-left: 5px;
  height: 20%;
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 1px solid #c4c4c4;
  color: #fff;
}
.recent_heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}
.headind_srch {
  padding: 10px 29px 10px 20px;
  overflow: hidden;
  border-bottom: 1px solid #c4c4c4;
}
.img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid black;
  margin-right: 10px;
  margin-left: 20px;
}

/* !!!!need add ovwerflow-auto? to contacts */

/* .overflow-wrapper {
  max-height: 400px;
  overflow-x: hidden;
  overflow-y: scroll;
} */

/* .convo-container {
  font-size: 100%;
  vertical-align: initial;
  outline: none;
  cursor: pointer;
} */

.highlight {
  padding-right: 15px;
  height: 20%;
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 1px solid #c4c4c4;
  color: black;
  border-right: none;
  background-color: #fff;
  padding-left: 5px;
}

.srch_bar {
  display: inline-block;
  text-align: center;
  width: 100%;
  color: #05728f;
}

.search_friends {
  width: 100%;
  height: 40px;
  line-height: 30px;
  padding: 0 50px 0 20px;
  background-color: #5e616a;
  border: none;
  border-radius: 3px;
  color: #fff;
  background-color: white;
}
/* header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: lightcoral;
} */
.sidebar {
  position: relative;
  /* top: 60px; */
  left: -300px;
  height: 100%;
  width: 300px;
  transition: left 0.3s ease-in-out;
  background-color: black;
}
.sidebar-toggle {
  position: absolute;
  top: 0%;
  right: -10px;
  height: 100%;
  width: 10px;
  z-index: 1;
}
.sidebar.open {
  left: 0;
}
