.convo {
  padding-right: 15px;
  height: 20%;
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 1px solid #c4c4c4;
}
.recent_heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}
.headind_srch {
  padding: 10px 29px 10px 20px;
  overflow: hidden;
  border-bottom: 1px solid #c4c4c4;
}
.img {
  padding-left: 10px;
  width: 11%;
  border-bottom: 1px solid #c4c4c4;
}
.convo-container {
  font-size: 100%;
  vertical-align: initial;
  outline: none;
  cursor: pointer;
}
.highlight {
  padding-right: 15px;
  height: 20%;
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 1px solid #c4c4c4;
  color: brown;
  background-color: lightgrey;
}
.srch_bar {
  display: inline-block;
  text-align: center;
  width: 100%;
  color: #05728f;
}
