/* #chat-room {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: auto;

  grid-template-areas: 'leftside chat';
  height: 93vh;
  width: 100vw;
}

.conversation {
  grid-area: leftside;
}

.messages {
  grid-area: chat;

} */
