.container {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: auto;
  grid-gap: 20px;
  grid-template-areas: 'conversation messages';
  height: calc(100vh - 55px);
  width: 100vw;
}
.messages {
  grid-column-start: 2;
  grid-column-end: end;
}
