/* .timestampleft {
  float: left;
  color: #999;
}
.timestampright {
  float: right;
  color: #aaa;
} */

.messagesreceiver {
  border: 2px solid #dedede;
  padding: 10px;
  margin: 10px 0;
  border-radius: 0 25px 25px 0;
}
/* Darker chat container */
.messagessender {
  border-color: #ccc;
  border: 2px solid #dedede;
  padding: 10px;
  margin: 10px 0;
  background-color: #b4d0e2;
  border-radius: 25px 0 0 25px;
}

.messagessenderimg,
.messagesreceiverimg {
  border: none;
  background-color: none;
  padding: 10px;
  margin: 10px 0;
}

/* .overflow-wrapper {
  max-height: 400px;
  overflow-x: hidden;
  overflow-y: scroll;
} */

/* Clear floats */
.messagessender::after {
  content: '';
  clear: both;
  display: table;
}
.list {
  list-style: none;
}

.btn-translate {
  margin-bottom: 20px;
}

img {
  width: 200px;
}
