#landing-page-app {
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  --antd-wave-shadow-color: #1890ff;
}
::selection {
  color: #fff;
  background: #1890ff;
}
.chattingImg {
  position: relative;
  display: block;
  border-radius: 30px;
  background: #fff;
  width: 70%;
  vertical-align: middle;
  border-style: none;
  box-shadow: inset 0 4px 7px 1px #ffffff,
    inset 0 -5px 20px rgba(173, 186, 204, 0.25), 0 2px 6px rgba(0, 21, 64, 0.14),
    0 10px 20px rgba(0, 21, 64, 0.05);
}

.content {
  line-height: 25px;
}

@media (max-width: 750px) {
  .chattingImg {
    display: none;
  }
  .content h1 {
    font-size: 20px;
  }
  .text-box2 {
    margin-top: 3rem;
  }
  #about-us-row {
    flex-direction: column;
  }
}
