a.fb {
  font-family: Lucida Grande, Helvetica Neue, Helvetica, Arial, sans-serif;
  display: inline-block;
  font-size: 14px;
  padding: 13px 30px 15px 0px;
  background: grey;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 20, 0.4);
  text-decoration: none;
  line-height: 1;
  position: relative;
  align-content: left;
}

a.fb:hover {
  background: #3a5a97;
}
.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.auth {
  /* background-image: url("https://i.pinimg.com/originals/0a/3a/5f/0a3a5f1552a67821aa4b253a14ec86f3.png"); */
  background-image: linear-gradient(white, rgb(216, 218, 247));
  /* height: 90vh; */
  /* width: 100vw; */
  padding-right: 0px;
  margin: 0;
  padding: 0;
}
/* .cardImg {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 80%;
  height: 30%;
  background-color: white;
  opacity: 0.9;
  border-radius: 8px;
} */
